body {
  font-family: "Montserrat", sans-serif;

  background-color: #e5e5e5;
}
/* styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

.about {
  margin-bottom: 40px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.about-position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

.projects-list {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 50px;
}

.projects-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
.project-item-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 8px;
}

.projects-item-link {
  text-decoration: none;
  color: #595959;
}

.project-item-bracket {
  color: #000000;
  font-weight: 700;
}

.work-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.work-company {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.work-duration {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.work-line {
  color: #000000;
}

.work-list {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 16px;
}

.work-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.work-thirdlist {
  margin-bottom: 30px;
}

.university {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.university-specialization {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 14px;
}

.education-duration {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.education-line {
  color: #000000;
}

.courses {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}

.courses-specialization {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 14px;
}

.courses-duration {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.courses-line {
  color: #000000;
}

/* sidebar */
.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}

.sidebar-title {
  color: #ffffff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 10px;
}

.photo {
  width: 370px;
  margin-bottom: 51px;
}

.contacts {
  margin-bottom: 50px;
}

.tech-skills {
  margin-bottom: 44px;
}

.tech-skills-list {
  padding: 0;
  margin-left: 15px;
}

.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-text {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.soft-skills-list {
  padding: 0;
  margin-left: 15px;
  margin-bottom: 366px;
}
.soft-skills-item {
  color: #fb6d3a;
}
.soft-skills-text {
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.contacts,
.skills {
  margin-left: 40px;
}

.contact-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 5px;
}

.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}

.mail {
  text-decoration-line: underline;
}
